@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}
/* .forgrid{
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr)); 
    grid-gap: 20px;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
}

.scrolled{
  background-color: white;
  margin: 1rem 0;
  box-shadow: 0px 0px 10px #959595;
  position: fixed;
  width: 85%;
  padding: .5rem 2rem;
  left: 50%;
  transform: translate(-50%);
  border-radius: 1rem;
  transition: all .5s;
}

.scrolledNo{
  /* background-color: blue; */
  position: static;
  width: 100%;
}